@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-color: #fafafa;
  --primary-color: #009688;
  --secundary-color: #673ab7;
  --text-color: #424242;
  --success-color: #4caf50;
  --warning-color: #ffc107;
  --error-color: #f44336;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      scrollbar-width: none;
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f;
}
.scrollbar {
  width: 8px;
}

.scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 4px;
}

.scrollbar-thumb:hover {
  background: #8f8f8f;
}
